<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <table>
        <tr><td><span>Login Name : </span></td><td><input type="text" [formControl]="loginNameControl" ></td><td>   <div *ngIf="loginNameControl.invalid && (loginNameControl.dirty || loginNameControl.touched )"
            class="alert alert-danger"> <div *ngIf="loginNameControl.errors.required">
                Name is required.
              </div></div></td></tr>
        <tr><td><span>Password : </span></td><td><input type="password" [formControl]="loginPasswordControl"></td><td>   <div *ngIf="loginPasswordControl.invalid && (loginPasswordControl.dirty || loginPasswordControl.touched)"
            class="alert alert-danger"> <div *ngIf="loginPasswordControl.errors.required">
                Password is required.
              </div></div></td></tr>
    <!-- <tr><td></td><td><button type="submit" [disabled]="loginForm.invalid">Login</button></td></tr> -->
    <tr><td></td><td><button type="submit" [disabled]="isSubmitted">Login</button></td></tr>
</table>
</form>